<% include ./partials/header.ejs %>
<link rel="stylesheet" href="/stylesheets/product.css">

<div class="container">
    <h1>POSTERS</h1>
    <div class="productGrid">

 <div class="productcard">
     <div class="productImg"></div>
     <div class="text"><span>Rs 299</span><button>Add to Cart</button></div>
 </div>
 <div class="productcard">
     <div class="productImg"></div>
     <div class="text"><span>Rs 299</span><button>Add to Cart</button></div>
 </div>
 <div class="productcard">
     <div class="productImg"></div>
     <div class="text"><span>Rs 299</span><button>Add to Cart</button></div>
 </div>
 <div class="productcard">
     <div class="productImg"></div>
     <div class="text"><span>Rs 299</span><button>Add to Cart</button></div>
 </div>
 <div class="productcard">
     <div class="productImg"></div>
     <div class="text"><span>Rs 299</span><button>Add to Cart</button></div>
 </div>
 <div class="productcard">
     <div class="productImg"></div>
     <div class="text"><span>Rs 299</span><button>Add to Cart</button></div>
 </div>
 <div class="productcard">
     <div class="productImg"></div>
     <div class="text"><span>Rs 299</span><button>Add to Cart</button></div>
 </div>
 <div class="productcard">
     <div class="productImg"></div>
     <div class="text"><span>Rs 299</span><button>Add to Cart</button></div>
 </div>
 <div class="productcard">
     <div class="productImg"></div>
     <div class="text"><span>Rs 299</span><button>Add to Cart</button></div>
 </div>
 <div class="productcard">
     <div class="productImg"></div>
     <div class="text"><span>Rs 299</span><button>Add to Cart</button></div>
 </div>
 <div class="productcard">
     <div class="productImg"></div>
     <div class="text"><span>Rs 299</span><button>Add to Cart</button></div>
 </div>
 <div class="productcard">
     <div class="productImg"></div>
     <div class="text"><span>Rs 299</span><button>Add to Cart</button></div>
 </div>
</div>
</div>

<% include ./partials/footer.ejs %>
